<html>
  <head>
    <title>PAGE POTIN</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
    <p>Voici la page du potin n° <%= id %> <br/>
    Son auteur : <%= gossips.author %> <br/>
    Le contenu du potin : <%= gossips.content %> <br/>
    <p><a href="http://localhost:4567/">Lien pour revenir à la page des potins</a></p>
    <form action='/gossips/new/' method='POST'>
      Entre ici ton potin modifié :  <input type='text' name='gossip_edited'/><br/>
    <input type='submit'/>
    </form>
  </body>
</html>